.listBox {
  width: 100%;
}

.trigger {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
}
// .trigger {
//   border-radius: 4px 4px 0 0;
//   background-color: var(--light-bg-redesigned);
//   outline-color: transparent;
//   color: var(--primary-color);
//   padding: 2px;
//   border: none;
//   border-bottom: 2px solid var(--text-redesigned);
//   width: 100%;
//   padding: 8px 32px 8px 8px;
//   cursor: pointer;
//   & > span {
//     position: absolute;
//     right: 12px;
//     top: calc(50% - var(--font-line-m) / 2);
//     color: var(--accent-redesigned);
//   }
//   &.readonly {
//     background-color: var(--bg-redesigned);
//     cursor: auto;
//   }
// }

.options {
  min-width: 100%;
}

.item {
  cursor: pointer;
  position: relative;
  padding: 8px 16px 8px 32px;
  white-space: nowrap;
}

.label {
  white-space: normal;
}
