.sidebarItem {
  white-space: nowrap;
}

.link {
  margin-left: 10px;
  opacity: 1;
  transition: 0.2s opacity;
}

.icon {
  stroke: var(--inverted-primary-color);
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
