.popup {
  position: relative;
}

.hiddenTrigger {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline-color: transparent;
  cursor: pointer;
}

.panel {
  background-color: var(--listbox-bg);
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--accent-shade);
  border: 1px solid var(--primary-color);
  overflow: hidden;
  outline-color: transparent;
}

.selected {
  background-color: var(--bg-color);
}

.active {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  & > .checkMark {
    color: var(--inverted-secondary-color);
  }
}

.disabled {
  opacity: 50%;
}

.checkMark {
  position: absolute;
  left: 10px;
  top: calc(50% - var(--font-line-m) / 2);
  color: var(--secondary-color);
}
