.starIcon {
  cursor: pointer;
}

.isSelected {
  cursor: auto;
}

.normal {
  fill: none;
}

.ratingRedesigned {
  stroke: var(--icon-redesigned);

  .hovered {
    fill: var(--icon-redesigned);
  }
}

.ratingDeprecated {
  .hovered {
    fill: var(--primary-color);
  }
}
