.wrapper {
  display: flex;
  // white-space: nowrap;
}

.label {
  margin-right: 5px;
  white-space: nowrap;
}

.select {
  border-radius: 4px 4px 0 0;
  background-color: var(--accent-shade);
  outline: none;
  color: var(--primary-color);
  padding: 2px;
  border: none;
  border-bottom: 2px solid var(--primary-color);
}

.editable > .select {
  background-color: var(--bg-hightlight-color);
}

.option {
  color: var(--primary-color);
  background-color: var(--bg-hightlight-color);
}
