.app_dark_theme {
  --bg-color: rgb(46, 46, 113);
  --bg-hightlight-color: rgb(36, 36, 76);
  --inverted-bg-color: rgb(231, 231, 231);

  --primary-color: rgb(110, 178, 168);
  --secondary-color: rgb(200, 224, 124);
  --inverted-primary-color: rgb(11, 35, 61);
  --inverted-secondary-color: rgb(44, 65, 134);

  --error-color-light: rgb(253, 84, 84);
  --error-color-dark: rgb(205, 44, 44);

  --accent-shade: rgba(255 255 255 / 0.05);
  --heavy-accent-shade: rgba(0, 0, 0, 0.8);

  //skeleton
  --skeleton-color: rgb(80, 80, 157);
  --skeleton-shadow: rgb(45, 45, 98);

  //code
  --code-bg: rgb(33, 33, 91);

  //card
  --card-bg: rgb(64, 64, 142);
  --card-bg-opaque: rgba(64, 64, 142, 0.4);
}
