.app_green_theme {
  --bg-color: #f5f9f7;
  --bg-hightlight-color: rgb(255, 255, 255);
  --inverted-bg-color: #70a287;

  --primary-color: #70a287;
  --secondary-color: #5f918d;
  --inverted-primary-color: #f5f9f7;
  --inverted-secondary-color: #c6d2d0;

  --error-color-light: rgb(239, 19, 19);
  --error-color-dark: rgb(172, 27, 27);

  --accent-shade: rgba(0 0 0 / 0.05);
  --heavy-accent-shade: rgba(0, 0, 0, 1);

  //skeleton
  --skeleton-color: rgb(255, 255, 255);
  --skeleton-shadow: rgb(168, 168, 168);

  //code
  --code-bg: #fff;

  //card
  --card-bg: #dce8e1;
  --card-bg-opaque: rgba(220, 232, 225, 0.4);
}
