.button {
  cursor: pointer;
  color: var(--text-redesigned);
  display: flex;
  align-items: center;

  &:hover {
    // opacity: 0.8;
    // fill-opacity: 0.8;
    // stroke-opacity: 0.8;
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--text-redesigned);
  background: none;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
  padding: 8px 16px;
}

.s {
  padding: 2px 15px;
  font-size: var(--font-size-m);
}

.m {
  padding: 6px 15px;
  font-size: var(--font-size-m);
}

.l {
  padding: 10px 15px;
  font-size: var(--font-size-l);
}

.xl {
  padding: 12px 15px;
  font-size: var(--font-size-xl);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}

.addonLeft,
.addonRight {
  display: flex;
}

.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.withAddon {
  padding-top: 3px;
  padding-bottom: 3px;
}

.withAddonLeft {
  padding-left: 0px;
}

.withAddonRight {
  padding-right: 0px;
}

// .focused {
//   border: 2px solid var(--accent-redesigned);

//   .addonLeft svg,
//   .addonRight svg {
//     color: var(--accent-redesigned);
//   }
// }
